$black-normal: #1E1D22;
$black-light: #29282F;
$black-dark: #19181C;

$white-normal: #F5F7F7;
$white-light: #F7F9F9;
$white-dark: #D5D6D6;

$red-normal: #FA5252;
$red-light: #FF6B6B;
$red-dark: #F03E3E;

$gray-1: #747578;
$gray-2: #4F4D51;
$gray-3: #3E3F40;

.color-gray-1 {
  color: $gray-1;
}

.color-gray-2 {
  color: $gray-2;
}

.color-gray-3 {
  color: $gray-3;
}