.header {
  max-width: 1220px;

  margin: 0 auto;
  padding: 48px 48px;
}

.toast {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 500;

  border-radius: 8px;
  padding: 24px 32px;
}

.relative {
  position: relative;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;

  width: 100%;
  height: fit-content;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1220px;

  margin: 0 auto;
  padding: 24px 16px;
}

.form-styled {
  margin-top: 48px;

  display: flex;
  align-items: center;

  input {
    width: 417px;
    height: 62px;

    padding: 20px 0;
    padding-left: 32px;

    border: 0;
    border-radius: 8px;
    background-color: $black-light;

    font-size: 18px;
    
    &::placeholder {
      color: $gray-1;
    }

    &:focus {
      color: $white-dark;
    }
  }

  button {
    border: 0;
    border-radius: 8px;

    padding: 17px 34px;
    margin-left: 16px;

    background-color: $red-dark;
    color: $white-light;

    font-size: 24px;
    font-weight: 500;
    font-family: Rubik, sans-serif;

    transition: filter 0.2s ease;

    &:hover {
      cursor: pointer;

      filter: brightness(0.9);
    }
  }
}

#home {
  .container-item:nth-child(1) {
    // width: 100%;

    margin-top: 60px;

    .title-timer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 16px;

      .timer {
        width: 200px;

        display: flex;
        gap: 18px;

        position: absolute;

        transform: translate(290%, -60%);

        span {
          font-family: Rubik, sans-serif;
          font-size: 64px;
          font-weight: 700;
          line-height: 110%;
        }

        .timer-element {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          p:nth-child(1) {
            font-family: Rubik, sans-serif;
            font-size: 64px;
            font-weight: 700;
            line-height: 110%;
          }
          p:nth-child(2) {
            color: $white-dark;
          }
        }
      }
    }

    h3 {
      color: $white-dark;
    }
  }

  .container-item:nth-child(2) {
    margin-top: 190px;
    margin-right: 84px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: $white-dark;
      margin-top: 72px;
    }

    h4 {
      color: $gray-1;
      margin-top: 24px;
    }
  }
}

#section-01 {
  .big-offer {
    padding-top: 260px;
    margin-left: 104px;

    position: relative;
    
    .svg-gift {
      position: absolute;

      transform: translate(110%, -80%);
    }

    .sub-title {
      margin-top: 16px;

      h3 {
        display: inline;
      }
    }

    p {
      display: inline-block;

      width: 727px;
      margin-top: 40px;

      color: $gray-1;
    }
  }

  .exclusive-promotions {
    margin-top: 407px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .title {
      h2 {
        display: inline;
      }
    }
    .container-images {
      margin-top: 24px;

      display: flex;
      
      align-items: flex-start;

      column-gap: 32px;

      img {
        transition: transform 0.3s ease-in;
      }

      img:hover {
        transform: scale(1.1);
      }
    }
  }
}

#section-02 {
  .advantages {
    margin-top: 224px;

    display: flex;
    justify-content: center;
    align-items: center;

    column-gap: 69px;

    .card-advantage {
      width: 312px;
      height: 280px;

      background-color: $black-light;
      border-radius: 4px;
      box-shadow: 0px 0px 90px -8px rgba(0, 0, 0, 0.5);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      transition: transform 0.3s ease-in;

      &:hover {
        transform: scale(1.1);
      }

      h4 {
        margin-top: 36px;

        text-transform: uppercase;
      }

      p {
        display: inline;
        width: 250px;
        margin-top: 16px;

        color: $white-dark;

        text-align: center;
      }
    }
  }
}

#section-03 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .container-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      padding-top: 364px;
    }
  
    h2 {
      color: $white-dark;
      padding-top: 16px;
    }
  
    h3 {
      color: $gray-1;
      padding-top: 24px;
      padding-bottom: 72px;
    }
  }
}

.footer {
  margin-top: 284px;

  display: flex;
  justify-content: space-between;

  h3 {
    margin-bottom: 36px;
  }

  p {
    color: $white-dark;
    margin-bottom: 16px;
  }

  .get-in-touch {
    display: flex;
    justify-content: space-between;

    column-gap: 160px;

    p {
      &:hover {
        filter: brightness(0.9);
        cursor: pointer;
      }
    }

    svg {
      margin-right: 16px;

      &:hover {
        filter: brightness(0.9);
        cursor: pointer;
      }
    }
  }
}